/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Titillium Web", sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: "Bangers", cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* START OF CUSTOM CSS */
body {
	max-width: 100%;
	margin: auto;
	text-align: center;
	margin: 2rem;
}
p {
	margin: 20px 20px 0 0;
}
hr {
    color: black;
}
h3, h1{
	font-family: "Open-Sans" sans-serif;
	font-weight: 600;
}
/* Nav Section */
nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 0;
	text-align: left;
	z-index: 1;
	width: 100%;
	background-color: white;
}
nav a.nav-link {
	text-decoration: none;
	color: black;
}
nav img {
	margin-left: 54px;
}
/* Header Section */
	/* home page header css */
	.top {
		padding: 4% 3%;
		margin: 6% 0px;
		position: relative;
		width: 100%;
		margin:12% 0;
	}
	.top div {
		font-size: 80px;
		text-align: center;
		position: relative;
		right: 23%;
		margin-top: 60px;
	}
	.top h1 {
		font-size:4rem;
		text-align:center;
	}
	.top button {
		border: 1px solid black;
		width: 17%;
		height:1.5rem;
		color: grey;
		background-color: white;
		position: absolute;
		left: 42%;
	}
	.top img {
		width:40%;
		position: absolute;
		bottom: -6%;
		left: 55%;
}
/* Upper Content and Lower Content Sections */
	/* home page content section */
.content-section {
	padding: 20px 0;
	text-align: left;
	margin: 0 0;
	display: flex;
	justify-content: space-evenly;
}
.upper-content {
	width: 50%;
	padding: 10px 0;
}
.upper-content p {
	width: 100%;
}
.middle-img {
	width: 100%;
}
.lower-content {
	width: 35%;
	padding: 10px 0;
}
/* Home Page Address Section */
address {
	margin: 30px 0;
	text-align: left;
}
/* Footer Section */
footer {
	padding-bottom: 100px;
}

/* THIS IS FOR IF YOU USE LIKE A TABLET OR SOMETHING */
@media(max-width: 800px){
    body{
        margin:20px;
    }
    .home-link{
        order:-1;
        display:block;
        text-align: center;
        width: 100%;
    }
    .logo{
        margin-top:15px;
        margin-left:0;
    }
    nav{
        flex-wrap: wrap;
        width:100%;
    }
    .nav-link{
    margin-top:30px;
    }
    .home-header{
        flex-wrap:wrap;
    }
    .home-header img{
        display:none;
    }
    
    .main-header h1{
        display:flex;
        justify-content:center;
        width:100%;
    }
    .content-section{
        display:flex;
        justify-content:center;
        width:100%;
    }
    .middle-img{

    }
}
/* THIS IS THE ONE FOR THE PHONE THING */
@media(max-width: 500px){
    nav{
        display:flex;
		flex-direction:column;
		margin:0 auto;
	}
	.home-link{
		padding:15px;
		width:100%;
		justify-content:center ;
		border-bottom: 2px solid lightgrey;
	}
    .nav-link{
        border-bottom: 2px solid lightgrey;
		width:100%;
		text-align:center;
		padding-bottom: 23px;
	}
	.home-header{
		margin-top:550px;
	}
	.content-section{
		display:block;
	}
	.content-section div{
		width:100%;
	}
}
}